body {
  background-color: $primary-backgraund-color;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  padding: 3rem;

  img {
    width: 600px;
  }

  .texto_nosotros {
    color: white;
  }
}

@media (max-width: 420px) {
  .contenedor {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    padding: 1rem;

    img {
      width: 250px;
      padding: 5px;
    }

    .texto_nosotros {
      padding-top: 1rem;
      font-size: 14px;
    }
  }
}
